<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-success text-white">
           Login Page
        </div>
        <div class="card-body">
            <form th:action="login" method="post" >
                <div class="form-group">
                    <label >Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label >Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <input type="submit" value="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
</body>
</html>